* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
a {
    text-decoration: none;
    color: unset;
}
/* TEXT MEDIA BREAKPOINTS */

html {
    font-size: 62.5%; 
}
@media (min-width: 112.5em) {
    html {
        font-size: 75%; 
    } 
}
@media (max-width: 80em) {
    html {
        font-size: 56.25%; 
    } 
}
@media (max-width: 68.75em) {
    html {
        font-size: 40%; 
    } 
}
/* @media (max-width: 37.5em) {
    html {
        font-size: %; 
    } 
} */

canvas {
    display: block;
}
ul {
    list-style: none outside none;
}
