/* ---- anime ---- */
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
/* ---- reset ---- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
canvas {
  display: block;
  vertical-align: bottom;
}
body {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', serif;
}
.white {
  color: white;
}
.navbar {
  position: fixed;
  display: block;
  width: 100%;
  height: 5.5rem;
  padding: .75rem;
  padding-left: 24rem;
  padding-right: 24rem;
  z-index: 2;
  background-image: linear-gradient(to bottom, #141212, #00000041);
}
.navbar-solid {
  background-image: unset;
  background-color: rgb(58, 33, 128);
}
.flexy {
  display: flex;
  justify-content: space-between;
}
.flex-pages {
  width: 30rem;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  color: white;
}
.void-logo:hover{
  fill: #92cfe6;
}
.flex-pages-item:hover {
  color: #92cfe6;
}
.void-logo {
  height: 3.5rem;
  width: 3.5rem;
  fill: lavender;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 2;
  animation-timing-function: linear; 
  cursor: pointer;
}
.infinite {
  transform:rotate(360deg);
  transition: 500ms;
}

#myCanvas {
    position: absolute;
    width: 100% !important;
    height: 90vh !important;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
  font-size: 9rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px lavender;
  font-family: 'Expletus Sans', cursive;
}
.heading-box{
    padding-top: 42vh;
    height: 90rem;
    text-align: center;

}
  #site-name.show span{
    opacity: 1;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
  }
  #site-name.show {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);

    
  }
  #site-name span {
    transition: opacity .5s ease-out, transform .5s ease-out;
    margin-right: 2.7rem;
    display: inline-block;
    opacity: 0;
    transform: scale(1.9,1.9);
    color: white;
  }
#site-name.show .c5 {
  margin-right: 7.5rem;
}

.bigbottom {
  margin-bottom: 1000px;
}

 /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #201c5e;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: 
  linear-gradient(to bottom, #000000, rgb(58, 33, 128), #000000); 
}

/* Scroll down */
.contain {
  width: 70%;
  margin: 0 auto;
  padding-top: 15rem;
  padding-bottom: 20rem;
}
/* Learn More */
#learn-more {
  background-color: blueviolet;
}
.learn-more-head {
  font-size: 6.5rem;
  text-align: center;
  margin-bottom: 8rem;
  color: lavender;
  font-weight: bold;
}
.learn-more-option-wrap {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.learn-more-info-box {
  width: 50rem;
  background-color: #7370a5;
  box-shadow: 5px 3px 11px 3px #00000033;
  cursor: pointer;
  transition: 200ms;
  color: lavender;
}
.learn-more-info-box:hover {
  transform: scale(1.04);
}
.info-box-head {
  font-size: 3rem;
  background-color: black;
  padding: 2rem 1rem;
  font-weight: bold;
}
.info-box-content {
  padding: 5rem;
  background-image: linear-gradient(to right, #88b1b7 ,#3a2180);
}
.info-student-box {
  background-image: linear-gradient(to left, #88b1b7 ,#3a2180);
}
.info-box-icon {
  font-size: 15rem;
  margin-bottom: 2rem;
  color: white;
}
.info-box-role {
  font-size: 4rem;
}
/* Options */
.void-greatness-box {
  position: relative;
  height: 41rem;
  padding: 4rem 4rem;
  background: #202020;
  box-shadow: 7px 5px 14px 3px #0000006e;
}
.void-greatness-header {
  font-size: 6rem;
  margin: 0 auto;
  margin-bottom: 7rem;
  width: 42rem;
}
.women-wrapper {
  display: flex;
  justify-content: space-between;
}
.void-greatness-text {
  font-size: 2rem;
  width: 42rem;
  margin: 0 auto;
}
.void-greatness-img {
  width: 49rem;
  box-shadow: inset 0px 0px 10px 12px #ffffff;
  height: 33rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.respect-women-img {
  background-image: url('./alice-donovan-rouse-1TqTPPz3xpg-unsplash.jpg');
}
.eat-food-img {
  background-image: url('./eaters-collective-12eHC6FxPyg-unsplash.jpg');
}
.hugging-img {
  background-image: url('./priscilla-du-preez-9vHPCKymSh0-unsplash.jpg');
}
.void-text-wrapper {
  width: 49%;
  color: white;
}
.option-header {
  font-size: 6rem;
  margin-bottom: 6rem;
  font-weight: bold;
}
.secondary-color {
  background-color: #6153f5;
}
.poly {
  height: 20rem;
  margin-top: -5rem;
  background-color: #6153f5;
  clip-path: polygon(50% 38%, 0% 100%, 100% 100%);
}
/* Student specific */
.dots-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  justify-content: space-evenly;
  color: #202020;
}
.dot-small {
  font-size: 5rem; 
}
.dot-med {
  font-size: 6rem;
}
.dot-large {
  font-size: 7rem;
}
