/* ---- anime ---- */
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}
@keyframes comeIn {
  100% {
    opacity: 1;
  }
}
.comeIn {
  animation-name: comeIn;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
/* ---- reset ---- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
}
canvas {
  display: block;
  vertical-align: bottom;
}
body {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    background-color: #202020;
    font-family: 'Lato', sans-serif;
}
.white {
  background-color: white !important;
}
.white-text {
  color: white !important;
}
.navbar {
  border-bottom: 1px solid white;
  position: fixed;
  display: block;
  width: 100%;
  padding-top: .75rem;
  padding-bottom: 1.25rem;
  padding-left: 24rem;
  padding-right: 24rem;
  z-index: 2;
  background-image: linear-gradient(to bottom, #141212, #00000041);
}
.navbar-solid {
  background-image: unset;
  background-color: #202020;
}
.flexy {
  display: flex;
  justify-content: space-between;
}
.flex-pages {
  width: 30rem;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  color: white;
}
.void-logo:hover{
  fill: white;
}
.flex-pages-item:hover {
  color: #9797ff;
}
.site-brand {
  color: white;
  font-size: 3.6rem;
}
.logo-box {
  color: white;
  display: flex;
  width: 13rem;
  align-items: center;
  justify-content: space-between;
}
.void-logo {
  height: 3.5rem;
  width: 3.5rem;
  fill: #9797ff;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 2;
  animation-timing-function: linear; 
  cursor: pointer;
}
.infinite {
  transform:rotate(360deg);
  transition: 500ms;
}

#myCanvas {
    position: absolute;
    width: 100% !important;
    height: 90vh !important;
    z-index: -1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
  font-size: 9rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgb(43, 43, 43);
  font-family: 'Expletus Sans', cursive;
}
.heading-box{
    padding-top: 42vh;
    height: 90rem;
    text-align: center;
    padding-bottom: 58vh;
}
  #site-name.show span{
    opacity: 1;
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
  }
  #site-name.show {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);

    
  }
  #site-name span {
    transition: opacity .5s ease-out, transform .5s ease-out;
    margin-right: 2.7rem;
    display: inline-block;
    opacity: 0;
    transform: scale(1.9,1.9);
    color: white;
  }
#site-name.show .c5 {
  margin-right: 7.5rem;
}

.header-desc {
  position: relative;
  color: white;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(43, 43, 43);
  opacity: 0;
  transform: translateY(2rem);
  animation-name: moveUp;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-delay: 1.5s;
  animation-duration: 2s;
}

@keyframes moveUp{
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bigbottom {
  margin-bottom: 1000px;
}

 /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #201c5e;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: 
  linear-gradient(to bottom, #000000, rgb(58, 33, 128), #000000); 
}

/* Scroll down */
.contain {
  width: 70%;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 25rem;
}
/* Learn More */
#learn-more {
  background-color: #202020;
}
.learn-more-head {
  font-size: 6.5rem;
  margin-bottom: 2rem;
  color: lavender;
  font-weight: bold;
}
.learn-more-desc {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-bottom: 8rem;
}
.learn-more-option-wrap {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.info-box-content:hover {
  transform: scale(1.04);
}

.info-box-content {
  cursor: pointer;
  transition: 200ms;
  color: lavender;
  padding: 5rem;
  width: 30rem;
  margin: 0 auto;
  background-image: linear-gradient(to right, #1e194a ,#581284);
  border: 10px solid white;
  box-shadow: 3px 1px 9px 1px #f1f1f152;
  opacity: 0;
}
.info-student-box {
  background-image: linear-gradient(to right, #2355a0 ,#212480);
}
.info-box-icon {
  font-size: 15rem;
  margin-bottom: 2rem;
  color: white;
}
.info-box-role {
  font-size: 4rem;
}
/* Options */
.void-greatness-box {
  position: relative;
  height: 45rem;
  padding: 6rem 4rem;
  background: #202020;
  box-shadow: 7px 5px 14px 3px #0000006e;
}
.client-box-right {
  position: relative;
  height: 45rem;
  padding: 6rem 4rem;
  background: #202020;
  box-shadow: 4px 0 14px 3px #0000006e;
}
.void-text-wrapper {
  width: 49%;
  color: white;
  margin-top: -1.5rem;
}
.void-greatness-header-box {
  width: 42rem;
  margin-bottom: 8rem;
}
.void-greatness-header {
  font-size: 6rem;
  margin-bottom: .5rem;
}
.void-greatness-location {

  font-style: italic;
  font-size: 1.7rem;
 
}
.void-greatness-time {
  font-size: 1.8rem;
  color: rgb(55, 85, 151);
  margin-bottom: .5rem;
 
}
.void-greatness-text {
  font-size: 2.2rem;
    color: #d4d4d4;
  width: 42rem;
}
.women-wrapper {
  display: flex;
  justify-content: center;
}
.client-flex-right {
  display: flex;
  justify-content: space-between;
}


.void-greatness-img {
  width: 49rem;
  box-shadow: inset 0px 0px 10px 12px #ffffff;
  height: 33rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}
.respect-women-img {
  background-image: url('./alice-donovan-rouse-1TqTPPz3xpg-unsplash.jpg');
}
.eat-food-img {
  background-image: url('./eaters-collective-12eHC6FxPyg-unsplash.jpg');
}
.hugging-img {
  background-image: url('./priscilla-du-preez-9vHPCKymSh0-unsplash.jpg');
}
.header-underline {
  display: inline-block;
  width: 10rem;
  height: 1px;
  background-color: #222;
  margin-left: calc(50% - 5rem);
}
.header-box {
  display: inline-block;
  margin-bottom: 10rem;
}

.option-header {
  font-size: 6rem;
  margin-bottom: 2rem;
  font-weight: bold;
  display: block;
}
.secondary-color {
  background-color: #323140;
}
.poly {
  height: 20rem;
  margin-top: -20rem;
  background-color: #323140;
  clip-path: polygon(50% 38%, 0% 100%, 100% 100%);
}
/* Student specific */
#student {
  background-color: white;
  padding-bottom: 15rem;
}
.dots-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  justify-content: space-evenly;
  color: #202020;
}
.dot-small {
  font-size: 5rem; 
}
.dot-med {
  font-size: 6rem;
}
.dot-large {
  font-size: 7rem;
}
/* Mission */
#mission {
  background-color: #202020;
}
.mission-box {
  background-color: #36385f;
  border: 2px solid black;
  box-shadow: 7px 5px 14px 3px #0000006e;
  padding: 3rem 4rem;
  opacity: 0;
}
.mission-desc {
  font-size: 2.5rem;
  color: white;
  line-height: 2;
}
.business-decor {
  margin-bottom: 2rem;
  margin-top: 2rem;
  height: 6rem;
  background-color: white;
}

#timeline {
  background-color: white;
}

.timeline-boxes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
}
.timeline-box {
  width: 40rem;
  background-color: #000000;
  color: white;
  border: 1px solid rgb(189, 18, 18);
  position: relative;
}
.timeline-box__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.timeline-box__picture--1 {
  background-image: url(./joshua-sukoff-rISC_BEGGVw-unsplash.jpg);
}
.timeline-box__picture--3 {
  background-image: url(./paula-may-AJqeO_-ifx0-unsplash.jpg);
}
.timeline-box__picture--2 {
  background-image: url(./matt-duncan-IUY_3DvM__w-unsplash.jpg);
}
.timeline-box__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 14rem;
  right: 2rem;
  width: 75%;
}
.timeline-box__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(0, 217, 255, 0.85), rgba(48, 196, 255, 0.85));
}
.timeline-box__heading-span--2 {
  background-image: linear-gradient(to right bottom, #b700ff, #ac2bcc);
}
.timeline-box__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.timeline-box__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
}
.timeline-box__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.timeline-box__details ul li {
  padding: 1rem
}
.timeline-box__details  {
  text-align: center;
}

.timeline-box__side {
  width: 34rem;
  background-color: #fff;
  height: 48rem;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 200ms;
  opacity: 0;
}
.timeline-box__side:hover {
  transform: scale(1.05);
}

/* footer */
#footer {
  height: 20rem;
  color: white;
  font-size: 3rem;
  font-style: italic;
}
